@{
    ViewBag.Title = "Home Page";
    // Obtener la fecha actual
    DateTime fechaActualizacion = DateTime.Now;
}
<style>
    .k2 {
        margin-top: 25px;
        margin-right: 15px;
    }

    .graficos {
        display: flex;
        align-items:center;
    }
</style>
<div class="graficos">
    <div class="col-lg-6 k2">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-pie me-1"></i>
                Marcas
            </div>
            <div style="width:50%; margin: auto;">
                <canvas id="chartMarca"></canvas>
            </div>
            <div class="card-footer small text-muted" id="ultima-actualizacion">
                Última actualización: @fechaActualizacion.ToString("dd/MM/yyyy HH:mm:ss")
            </div>
        </div>
    </div>
    <div class="col-lg-6 k2">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-pie me-1"></i>
                Categorias
            </div>
            <div style="width: 50%; margin: auto;">
                <canvas id="chartCategoria"></canvas>
            </div>
            <div class="card-footer small text-muted" id="ultima-actualizacion">
                Última actualización: @fechaActualizacion.ToString("dd/MM/yyyy HH:mm:ss")
            </div>
        </div>
    </div>
</div>


@section scripts
{

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        var ctxMarca = document.getElementById('chartMarca').getContext('2d');
        var ctxCategoria = document.getElementById('chartCategoria').getContext('2d');

        var nombresMarca = @Html.Raw(Json.Encode(ViewBag.NombresMarca));
        var porcentajesMarca = @Html.Raw(Json.Encode(ViewBag.PorcentajesMarca));

        var nombresCategoria = @Html.Raw(Json.Encode(ViewBag.NombresCategoria));
        var porcentajesCategoria = @Html.Raw(Json.Encode(ViewBag.PorcentajesCategoria));

        // Colores para el gráfico de productos por marca
        var coloresMarca = [
            'rgba(255, 99, 132, 0.8)',
            'rgba(54, 162, 235, 0.8)',
            'rgba(255, 206, 86, 0.8)',
            'rgba(75, 192, 192, 0.8)',
            'rgba(153, 102, 255, 0.8)',
            'rgba(255, 159, 64, 0.8)'
        ];

        // Colores para el gráfico de productos por categoría
        var coloresCategoria = [
            'rgba(255, 99, 132, 0.8)',
            'rgba(54, 162, 235, 0.8)',
            'rgba(255, 206, 86, 0.8)',
            'rgba(75, 192, 192, 0.8)',
            'rgba(153, 102, 255, 0.8)',
            'rgba(255, 159, 64, 0.8)'
        ];

        var chartMarca = new Chart(ctxMarca, {
            type: 'pie',
            data: {
                labels: nombresMarca,
                datasets: [{
                    label: 'Productos por Marca',
                    data: porcentajesMarca,
                    backgroundColor: coloresMarca
                }]
            },
            options: {
                responsive: true
            }
        });

        var chartCategoria = new Chart(ctxCategoria, {
            type: 'pie',
            data: {
                labels: nombresCategoria,
                datasets: [{
                    label: 'Productos por Categoría',
                    data: porcentajesCategoria,
                    backgroundColor: coloresCategoria
                }]
            },
            options: {
                responsive: true
            }
        });
    </script>
}