
@model List<CapaEntidad.Producto>

@{
    ViewBag.Title = "PaginaMarca";
    Layout = "~/Views/Shared/_Layout_tienda.cshtml";
}

<h2 class="viv">@ViewBag.NombreMarca</h2>

<div class="contendor">
    <div class="cont1">
        @foreach (var producto in Model)
        {
            <div class="cositas1">
                <p id="IdProducto" hidden>@producto.IdProducto</p>
                <p>@producto.Nombre</p>
                <img class="i1" src='@producto.RutaImagen' />
                <details class="detalles">
                    <summary>Descripción</summary>
                    <p id="descripcion">@producto.Descripcion</p>
                </details>
                <p>@producto.Precio€</p>
                <div class="horizontal-line"></div>
                <div class="bf">                   
                    <button class="btn4"><img src="~/iconos/carro-de-la-comprap.png" /></button>
                </div>
            </div>
        }
    </div>
</div>
