
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link rel="stylesheet" href="~/Content/StyleSheetTienda.css" />*@
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/Tienda")
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <style>
        .f1 {
            display: flex;
            justify-content: space-around;
        }
    </style>
    <header>
        <nav>
            <input type="hidden" id="usuarioId" value="@Session["UserId"]" />
            <div class="icono">
                <a href="@Url.Action("Index","Tienda")">Inicio</a>
                <img src="~/iconos/hogar.png" />
            </div>
            <div class="icono">
                <a href="@Url.Action("MarcasAcceso","Tienda")">Marcas</a>
                <img src="~/iconos/marcos.png" />
            </div>
            <div class="icono">
                <a href="@Url.Action("CategoriasAcceso","Tienda")">Productos</a>
                <img src="~/iconos/estrellao.png" />
            </div>
            <div class="icono">
                <a href="@Url.Action("Cesta","Tienda")">Cesta</a>
                <img src="~/iconos/carro-de-la-compra.png" />
            </div>
            <div class="icono">
                <select class="opciones" id="userActions" onchange="handleSesion()">
                    <option value="">Usuario</option>
                    <option value="perfil">Pelfil</option>
                    <option value="cerrarSesion">Cerrar Sesion</option>
                </select>
                <img src="~/iconos/usuario.png" />
            </div>
        </nav>
    </header>
    <main>
        <div>
            @RenderBody()

        </div>
    </main>
    <footer class="footer">
        <div class="f1">
            <div>
                <h2>Contacto</h2>
                <p style="margin-top:10px;">Andrea Sánchez Bernardo.</p>
                <p>28915, Leganés, Madrid.</p>
                <br />
                <a style="text-decoration:underline;" href="https://linkedin.com/in/andrea-sanchez-bernardo">IR A LINKEDIN</a>
            </div>
            <div>
                <h2>Información del proyecto</h2>
                <p style="margin-top:10px;">
                    Este proyecto implementa una plataforma web de venta de productos desarrollada con ASP.NET MVC,
                    utilizando una arquitectura de cuatro capas. Está diseñada para simular un entorno real de comercio electrónico.
                </p>
                <br />
                <p>
                    Este proyecto fue desarrollado con el objetivo principal de demostrar habilidades en programación web y desarrollo de aplicaciones utilizando tecnologías modernas de Microsoft.
                    No tiene fines comerciales y se presenta como parte de mi formación y experiencia en el ámbito de desarrollo de software.
                </p>
            </div>
        </div>
        <div>
            <p style="text-align:center; margin:25px;">© 2024 Andrea Sánchez Bernardo. Este proyecto es parte de mi aprendizaje en programación y desarrollo web. No tiene fines comerciales.</p>
        </div>
    </footer>

    <script>
    function handleSesion() {
            var select = document.getElementById('userActions');
            var value = select.value;
            var userId = document.getElementById('usuarioId').value;

            if (value === "perfil") {
                window.location.href = '@Url.Action("Perfil", "Usuario")' + '?IdUsuario=' + userId;
            } else if (value === "cerrarSesion") {
                window.location.href = '@Url.Action("CerrarSesion", "Tienda")';
            }
        }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
