
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link rel="stylesheet" href="~/Content/StyleSheetTienda.css" />*@
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/Tienda")
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <header>
        <nav>
            <input type="hidden" id="usuarioId" value="@Session["UserId"]" />
            <div class="icono">
                <a href="@Url.Action("Index","Tienda")">Inicio</a>
                <img src="~/iconos/hogar.png" />
            </div>
            <div class="icono">
                <a href="">Marcas</a>
                <img src="~/iconos/marcos.png" />
            </div>
            <div class="icono">
                <a href="">Productos</a>
                <img src="~/iconos/estrellao.png" />
            </div>
            <div class="icono">
                <a href="@Url.Action("Cesta","Tienda")">Cesta</a>
                <img src="~/iconos/carro-de-la-compra.png" />
            </div>
            <div class="icono">
                <select class="opciones" id="userActions" onchange="handleSesion()">
                    <option value="">Sesion Iniciada</option>
                    <option value="perfil">Pelfil</option>
                    <option value="cerrarSesion">Cerrar Sesion</option>
                </select>
                <img src="~/iconos/usuario.png" />
            </div>
        </nav>
    </header>
    <main>
        <div>
            @RenderBody()

        </div>
    </main>
    <footer class="footer">
        <div class="footer__addr">
            <h1 class="footer__logo">Something</h1>

            <h2>Contact</h2>

            <address>
                5534 Somewhere In. The World 22193-10212<br>

                <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
            </address>
        </div>

        <ul class="footer__nav">
            <li class="nav__item">
                <h2 class="nav__title">Media</h2>

                <ul class="nav__ul">
                    <li>
                        <a href="#">Online</a>
                    </li>

                    <li>
                        <a href="#">Print</a>
                    </li>

                    <li>
                        <a href="#">Alternative Ads</a>
                    </li>
                </ul>
            </li>

            <li class="nav__item nav__item--extra">
                <h2 class="nav__title">Technology</h2>

                <ul class="nav__ul nav__ul--extra">
                    <li>
                        <a href="#">Hardware Design</a>
                    </li>

                    <li>
                        <a href="#">Software Design</a>
                    </li>

                    <li>
                        <a href="#">Digital Signage</a>
                    </li>

                    <li>
                        <a href="#">Automation</a>
                    </li>

                    <li>
                        <a href="#">Artificial Intelligence</a>
                    </li>

                    <li>
                        <a href="#">IoT</a>
                    </li>
                </ul>
            </li>

            <li class="nav__item">
                <h2 class="nav__title">Legal</h2>

                <ul class="nav__ul">
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>

                    <li>
                        <a href="#">Terms of Use</a>
                    </li>

                    <li>
                        <a href="#">Sitemap</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="legal">
            <p>&copy; 2019 Something. All rights reserved.</p>

            <div class="legal__links">
                <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
            </div>
        </div>
    </footer>

    <script>
    function handleSesion() {
            var select = document.getElementById('userActions');
            var value = select.value;
            var userId = document.getElementById('usuarioId').value;

            if (value === "perfil") {
                window.location.href = '@Url.Action("Perfil", "Usuario")' + '?IdUsuario=' + userId;
            } else if (value === "cerrarSesion") {
                window.location.href = '@Url.Action("CerrarSesion", "NombreDelControlador")';
            }
        }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
