<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link rel="stylesheet" href="~/Content/StyleSheetTienda.css" />*@
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/Tienda")
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <style>
        .f1{
            display:flex;
            justify-content:space-around;

        }

    </style>
    <header>
        <nav>
            <div class="icono">
                <a href="@Url.Action("Inicio","Tienda")">Inicio</a>
                <img src="~/iconos/hogar.png" />
            </div>
            <div class="icono">
                <a href="@Url.Action("PaginaMarca", "Tienda")">Marcas</a>
                <img src="~/iconos/marcos.png" />
            </div>
            <div class="icono">
               <a href="@Url.Action("PaginaCategoria", "Tienda")">Productos</a>
                <img src="~/iconos/estrellao.png" />
            </div>
            <div class="icono">
                <a href="">Cesta</a>
                <img src="~/iconos/carro-de-la-compra.png" />
            </div>
            <div class="icono">
                <button class="inicioSesion" id="userActions" onclick="AbrirModalSesion()">Iniciar Sesión</button>
                <img src="~/iconos/usuario.png" />
            </div>
        </nav>
    </header>
    <main>
        <div>
            @RenderBody()

        </div>
        <!-- Formulario -->
        <div class="formulario" id="loginForm">
            <div class="cuadro">
                <form id="frr">
                    <div class="sesion">
                        <h2>INICIAR SESION</h2>
                        <input type="hidden" id="usuarioId" />
                        <input type="hidden" id="cbActivo" />
                        <label for="correo" class="form-label">Email</label>
                        <input type="text" id="correo" name="correo" class="form-control" />
                        <label for="clave" class="form-label">Contraseña</label>
                        <input type="password" id="clave" name="clave" class="form-control" />
                        <a href="#" class="enlace">He olvidado la contraseña</a>
                        <a href="@Url.Action("NuevaSesion","Tienda")" class="enlace">Crear Cuenta</a>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary" id="loginForm">Continuar</button>
                        <button type="button" class="btn btn-warning" onclick="CerrarModalSesion()" id="closeForm">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="f1">
            <div>
                <h2>Contacto</h2>
                <p style="margin-top:10px;">Andrea Sánchez Bernardo.</p>
                <p>28915, Leganés, Madrid.</p>
                <br />
                <a style="text-decoration:underline;" href="https://linkedin.com/in/andrea-sanchez-bernardo">IR A LINKEDIN</a>
            </div>
            <div>
                <h2>Información del proyecto</h2>
                <p style="margin-top:10px;">
                  Este proyecto implementa una plataforma web de venta de productos desarrollada con ASP.NET MVC,
                 utilizando una arquitectura de cuatro capas. Está diseñada para simular un entorno real de comercio electrónico.
                </p>
                <br />
                <p>Este proyecto fue desarrollado con el objetivo principal de demostrar habilidades en programación web y desarrollo de aplicaciones utilizando tecnologías modernas de Microsoft.
                No tiene fines comerciales y se presenta como parte de mi formación y experiencia en el ámbito de desarrollo de software.</p>
            </div>
        </div>
        <div>
            <p style="text-align:center; margin:25px;">© 2024 Andrea Sánchez Bernardo. Este proyecto es parte de mi aprendizaje en programación y desarrollo web. No tiene fines comerciales.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script>

        function AbrirModalSesion() {
            const loginForm = document.getElementById('loginForm');
            /*const closeFormButton = document.getElementById('closeForm');*/
            loginForm.style.display = 'block';    
        }

        function CerrarModalSesion() {
            const closeForm = document.getElementById('loginForm');
            closeForm.style.display = 'none';
        }
     

        $(document).ready(function () {
            $('#frr').on('submit', function (event) {
                event.preventDefault();// Evita el comportamiento por defecto del formulario


                const idUsuario = $('#usuarioId').val();
                const correo = $('#correo').val();
                const clave = $('#clave').val();
                const activo = $('#cbActivo').val();

                const formData = {
                    IdUsuario: idUsuario, // Asegúrate de que este campo exista y tenga sentido en tu contexto
                    Correo: correo,
                    Clave: clave,
                    Activo: activo,
                };

                  // Realiza la solicitud AJAX

              var url = '@Url.Action("Acceso", "Tienda")';
              $.ajax({
                  url: url,
                  type: 'POST',
                  contentType: 'application/json',
                  data: JSON.stringify(formData),
                  dataType: 'json', // Indica que esperas una respuesta JSON
                  success: function (response) {
                      if (response.success) {
                          console.log(response.success)
                        window.location.href = '@Url.Action("Index", "Tienda")';
                    } else {
                        alert(response.mensaje);
                    }
                    console.log(response);
                  },
                  error: function (error) {
                      // Maneja los errores
                      alert(error.responseJSON.mensaje);
                      console.log(error);
                  }
              });

            })
        })

         $(document).ready(function () {
        // Realiza una solicitud AJAX para obtener la lista de categorías desde el controlador
        $.ajax({
            url: '@Url.Action("ListarCategoria", "Mantenimiento")',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Itera sobre los datos recibidos y agrega opciones al select
                $.each(data.data, function (index, categoria) {
                    $('#categoria').append($('<option>', {
                        value: categoria.IdCategoria,
                        text: categoria.Descripcion
                    }));
                });

                // Agrega un controlador de eventos de clic a las opciones del select
                $('#categoria').change(function () {
                    var selectedCategoria = $(this).val();
                    if (selectedCategoria !== "") {
                        // Construye la URL de redirección con el ID de la categoría seleccionada
                        var url = '@Url.Action("PaginaCategoria", "Tienda")' + '?idCategoria=' + selectedCategoria;
                        // Redirige a la URL construida
                        window.location.href = url;
                    }
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
         });

        /////
        $(document).ready(function () {
    // Realiza una solicitud AJAX para obtener la lista de categorías desde el controlador
            $.ajax({
                url: '@Url.Action("ListarMarca", "Mantenimiento")',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Itera sobre los datos recibidos y agrega opciones al select
                    $.each(data.data, function (index, marca) {
                        $('#marca').append($('<option>', {
                            value: marca.IdMarca,
                            text: marca.Descripcion
                        }));
                    });

            // Agrega un controlador de eventos de clic a las opciones del select
            $('#marca').change(function () {
                var selectedMarca = $(this).val();
                if (selectedMarca !== "") {
                    // Construye la URL de redirección con el ID de la categoría seleccionada
                    var url = '@Url.Action("PaginaMarca", "Tienda")' + '?idMarca=' + selectedMarca;
                    // Redirige a la URL construida
                    window.location.href = url;
                }
            });
        },
        error: function (error) {
            console.log(error);
        }
    });
});
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
